<nav class="navbar navbar-expand-lg navbar-light bg-light p-0">
  <div class="container-fluid p-2 ">
    <a class="navbar-brand p-0 text-danger" style="font-family: 'Mate SC', serif;" href="#">
      <strong class="me-2">dietFIX</strong>
      <img src="../assets/dietFIX-logo.png" alt="dietFIX-logo"  class="d-inline-block align-text-top ig">
    </a>
    

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item me-5">
          <a class="nav-link text-danger"  routerLink="home" routerLinkActive="active"><i class="fas fa-home "></i> Home</a>
        </li>

        <li class="nav-item me-5">
          <a class="nav-link text-danger" routerLink="recipes" routerLinkActive="active"><i class="fas fa-utensils"></i> Recipes</a>
        </li>
       
        <li class="nav-item me-5">
          <a class="nav-link text-danger" routerLink="contactus" routerLinkActive="active"><i class="fas fa-address-book"></i> ContactUs</a>
        </li>        
      </ul>     
    </div>
  </div>
</nav>

<!-- nest product component -->
  <router-outlet></router-outlet>

  <app-footer></app-footer>


 


